.confirmation {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3px;
}

h3 {
  margin-bottom: 1px;
}

.itemsContainer {
  margin-top: 1.5px;
  display: grid;
  justify-content: center;
}